@{
    ViewData["Title"] = "Home Page";
    List<string> studentNames = new List<string> { "An", "Ba", "Quan" };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach(var name in studentNames)
        {
            <li>@name</li>
        }
    </ul>
</div>
