@model List<Student>;
@{
    ViewData["Title"] = "Student Page";
    List<Student> students = Model;
}
<h1>Here is the Student Page!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th><a href="/student/add" class="btn btn-primary" style="width: 50%;">Add</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Address</td>
                <td>@student.Age</td>
                <td>
                    <a href="/student/edit?studentId=@student.Id" class="btn btn-success">Edit</a>
                    <a href="/student/DeleteStudent?studentId=@student.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>